playbooks/cloture-faux-positifs.yml
id: cloture-faux-positifs
version: -1
name: Clôture automatique des faux positifs connus
description: |-
  Compare une valeur de l'incident à une allow-list de motifs de faux positifs connus. Si cette valeur
  figure dans l'allow-list (comparaison insensible à la casse), l'incident est clôturé en "False
  Positive" avec une note qui garde la trace du motif. Sans correspondance, l'incident suit son cours normal. Le playbook n'utilise que du contenu
  natif XSOAR (condition, script Set, commande Builtin closeInvestigation), il s'importe et s'exécute
  sur une instance vierge.
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 92e151d9-02fd-4f89-900c-94059253e301
    type: start
    task:
      id: 92e151d9-02fd-4f89-900c-94059253e301
      version: -1
      name: ""
      description: ""
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
        - "1"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {"position": {"x": 450, "y": 50}}
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "1":
    id: "1"
    taskid: f37adc35-f946-43e6-a902-24562bf16e8b
    type: title
    task:
      id: f37adc35-f946-43e6-a902-24562bf16e8b
      version: -1
      name: Clôture des faux positifs connus
      description: ""
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
        - "2"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {"position": {"x": 450, "y": 190}}
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "2":
    id: "2"
    taskid: 42e338ac-d4c9-45f4-8ca5-91bee88f2072
    type: condition
    task:
      id: 42e338ac-d4c9-45f4-8ca5-91bee88f2072
      version: -1
      name: Faux positif connu ?
      description: |-
        Vrai seulement si la valeur comparée n'est pas vide et figure dans l'allow-list. La double
        condition garantit qu'on n'agit que sur une correspondance explicite.
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
        - "6"
      "yes":
        - "3"
    conditions:
      - label: "yes"
        condition:
          - - operator: isNotEmpty
              left:
                value:
                  simple: inputs.ValeurAComparer
                iscontext: true
          - - operator: inList
              left:
                value:
                  simple: inputs.ValeurAComparer
                iscontext: true
              right:
                value:
                  simple: inputs.MotifsFauxPositifs
                iscontext: true
              ignorecase: true
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {"position": {"x": 450, "y": 340}}
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "3":
    id: "3"
    taskid: ee083af7-5532-4a1e-995a-d00b6b121df3
    type: regular
    task:
      id: ee083af7-5532-4a1e-995a-d00b6b121df3
      version: -1
      name: Retenir le motif
      description: Enregistre le motif de faux positif reconnu dans le contexte.
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    scriptarguments:
      key:
        simple: FauxPositifs.Motif
      value:
        simple: "${inputs.ValeurAComparer}"
    nexttasks:
      '#none#':
        - "4"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {"position": {"x": 265, "y": 540}}
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "4":
    id: "4"
    taskid: 70d4d799-cd57-42f4-ab67-deacec18ba54
    type: regular
    task:
      id: 70d4d799-cd57-42f4-ab67-deacec18ba54
      version: -1
      name: Marquer la clôture
      description: Renseigne le statut de traitement avant la clôture.
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    scriptarguments:
      key:
        simple: FauxPositifs.Statut
      value:
        simple: Clôturé - faux positif connu
    nexttasks:
      '#none#':
        - "5"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {"position": {"x": 265, "y": 700}}
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "5":
    id: "5"
    taskid: 230ac29c-5db7-48b9-abc9-8ccad2a74cd0
    type: regular
    task:
      id: 230ac29c-5db7-48b9-abc9-8ccad2a74cd0
      version: -1
      name: Clôturer l'incident
      description: Clôture l'incident en faux positif et garde la trace du motif dans la note.
      script: Builtin|||closeInvestigation
      type: regular
      iscommand: true
      brand: Builtin
    scriptarguments:
      closeReason:
        simple: False Positive
      closeNotes:
        simple: "Faux positif connu : ${inputs.ValeurAComparer}. ${inputs.MotifCloture}"
    nexttasks:
      '#none#':
        - "7"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {"position": {"x": 265, "y": 860}}
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "6":
    id: "6"
    taskid: 7fca8a43-0533-4f93-87cb-ed0928e5fc3e
    type: regular
    task:
      id: 7fca8a43-0533-4f93-87cb-ed0928e5fc3e
      version: -1
      name: Laisser suivre le flux normal
      description: Aucune correspondance dans l'allow-list, l'incident n'est pas clôturé.
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    scriptarguments:
      key:
        simple: FauxPositifs.Statut
      value:
        simple: Pas de correspondance - traitement normal
    nexttasks:
      '#none#':
        - "7"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {"position": {"x": 680, "y": 540}}
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "7":
    id: "7"
    taskid: 07d21eff-820e-432b-b6fa-850b61e50de0
    type: title
    task:
      id: 07d21eff-820e-432b-b6fa-850b61e50de0
      version: -1
      name: Fin
      description: ""
      type: title
      iscommand: false
      brand: ""
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {"position": {"x": 450, "y": 1040}}
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1055,
        "width": 795,
        "x": 265,
        "y": 50
      }
    }
  }
inputs:
  - key: MotifsFauxPositifs
    value: {}
    required: false
    description: |-
      Allow-list des motifs de faux positifs connus, séparés par des virgules (ex :
      "EICAR Test File,Scan Nessus autorisé"). La comparaison est insensible à la casse. Souvent
      alimentée depuis une liste XSOAR maintenue par l'équipe.
    playbookInputQuery: null
  - key: ValeurAComparer
    value:
      simple: "${incident.name}"
    required: false
    description: Valeur de l'incident testée contre l'allow-list. Par défaut le nom de l'incident.
    playbookInputQuery: null
  - key: MotifCloture
    value:
      simple: Clôturé automatiquement par le playbook de faux positifs.
    required: false
    description: Texte ajouté à la note de clôture, après le motif reconnu.
    playbookInputQuery: null
outputs:
  - contextPath: FauxPositifs.Statut
    description: Résultat du tri - clôturé en faux positif, ou laissé au traitement normal.
    type: string
  - contextPath: FauxPositifs.Motif
    description: Motif de faux positif reconnu, quand il y a correspondance.
    type: string
fromversion: 6.5.0
tests:
  - No tests (auto formatted)
