playbooks/mfa-fatigue.yml
id: mfa-fatigue
version: -1
name: Réponse à une attaque MFA fatigue (push bombing)
description: |-
  Réagit à une rafale de demandes MFA (push bombing). Le playbook enrichit le compte, compare le nombre
  de demandes à un seuil, puis demande à l'utilisateur s'il est à l'origine des demandes. Ce n'est
  qu'en l'absence de reconnaissance qu'il gèle les sessions et force une réinitialisation MFA. Ces
  actions de protection sont des tâches à exécuter sur le fournisseur d'identité, remplaçables par ses
  commandes.
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 6dafd2f0-bcd9-4855-9c77-84e14a6165eb
    type: start
    task:
      id: 6dafd2f0-bcd9-4855-9c77-84e14a6165eb
      version: -1
      name: ""
      description: ""
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
        - "1"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {"position": {"x": 450, "y": 50}}
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "1":
    id: "1"
    taskid: ae26a5ab-d572-410f-9095-cfabf12fdeae
    type: title
    task:
      id: ae26a5ab-d572-410f-9095-cfabf12fdeae
      version: -1
      name: MFA fatigue
      description: ""
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
        - "2"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {"position": {"x": 450, "y": 190}}
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "2":
    id: "2"
    taskid: ead95096-0ad4-401b-9961-c2d9d5f66b15
    type: playbook
    task:
      id: ead95096-0ad4-401b-9961-c2d9d5f66b15
      version: -1
      name: Enrichir le compte
      description: Réutilise le playbook d'enrichissement de compte sur le compte ciblé.
      playbookName: Enrichissement de compte utilisateur
      type: playbook
      iscommand: false
      brand: ""
    scriptarguments:
      NomUtilisateur:
        simple: "${inputs.Compte}"
    nexttasks:
      '#none#':
        - "3"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {"position": {"x": 450, "y": 330}}
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "3":
    id: "3"
    taskid: e000def5-fde6-44cd-8788-3f6c2e4ca46b
    type: condition
    task:
      id: e000def5-fde6-44cd-8788-3f6c2e4ca46b
      version: -1
      name: Rafale de demandes ?
      description: Vrai si le nombre de demandes MFA atteint le seuil.
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
        - "9"
      "yes":
        - "4"
    conditions:
      - label: "yes"
        condition:
          - - operator: greaterThanOrEqual
              left:
                value:
                  simple: inputs.NombreDemandes
                iscontext: true
              right:
                value:
                  simple: inputs.SeuilDemandes
                iscontext: true
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {"position": {"x": 450, "y": 470}}
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "4":
    id: "4"
    taskid: 3ada190f-ac9b-40c5-a2d1-5c4bdab5cce5
    type: condition
    task:
      id: 3ada190f-ac9b-40c5-a2d1-5c4bdab5cce5
      version: -1
      name: Confirmer avec l'utilisateur
      description: |-
        Demande à l'utilisateur s'il est à l'origine des demandes MFA. La tâche se répond depuis le plan
        de travail de l'incident, ou sur un canal si une méthode d'envoi est renseignée.
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
        - "5"
      "Oui c'est moi":
        - "8"
      "Non":
        - "5"
    separatecontext: false
    view: |-
      {"position": {"x": 280, "y": 640}}
    note: false
    timertriggers: []
    ignoreworker: false
    message:
      to:
      subject:
        simple: "Demandes MFA inhabituelles"
      body:
        simple: "${inputs.NombreDemandes} demandes MFA sur le compte ${inputs.Compte}. Êtes-vous à l'origine de ces demandes ? Répondre \"Oui c'est moi\" ou \"Non\"."
      methods: []
      format: ""
      bcc:
      cc:
      timings:
        retriescount: 1
        retriesinterval: 20
        completeafterreplies: 1
      replyOptions:
        - "Oui c'est moi"
        - "Non"
    skipunavailable: false
    quietmode: 0
  "5":
    id: "5"
    taskid: 9dd5c071-6fc3-4171-8449-d456a367fb8b
    type: regular
    task:
      id: 9dd5c071-6fc3-4171-8449-d456a367fb8b
      version: -1
      name: Geler les sessions
      description: |-
        Tâche à exécuter : révoquer les sessions actives du compte, puis compléter la tâche.
        Remplaçable par la commande du fournisseur d'identité.
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
        - "6"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {"position": {"x": 280, "y": 810}}
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "6":
    id: "6"
    taskid: b80d9567-ddb5-40ca-8056-086891ce34df
    type: regular
    task:
      id: b80d9567-ddb5-40ca-8056-086891ce34df
      version: -1
      name: Réinitialiser la MFA
      description: Forcer la réinitialisation MFA du compte, puis compléter la tâche.
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
        - "7"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {"position": {"x": 280, "y": 950}}
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "7":
    id: "7"
    taskid: c9617ddd-a741-4fd0-8479-0763e56c65ea
    type: regular
    task:
      id: c9617ddd-a741-4fd0-8479-0763e56c65ea
      version: -1
      name: Compte protégé
      description: Journalise la protection du compte.
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    scriptarguments:
      key:
        simple: MFA.Statut
      value:
        simple: Compte protégé - sessions gelées, MFA réinitialisée
    nexttasks:
      '#none#':
        - "10"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {"position": {"x": 280, "y": 1090}}
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "8":
    id: "8"
    taskid: fdc99324-7960-4ddb-ab35-9e86ac6b8fe5
    type: regular
    task:
      id: fdc99324-7960-4ddb-ab35-9e86ac6b8fe5
      version: -1
      name: Demandes reconnues
      description: L'utilisateur reconnaît être à l'origine des demandes.
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    scriptarguments:
      key:
        simple: MFA.Statut
      value:
        simple: Demandes reconnues par l'utilisateur - RAS
    nexttasks:
      '#none#':
        - "10"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {"position": {"x": 520, "y": 810}}
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "9":
    id: "9"
    taskid: 92f98242-3c36-46b0-9396-3c5d65af45fc
    type: regular
    task:
      id: 92f98242-3c36-46b0-9396-3c5d65af45fc
      version: -1
      name: Sous le seuil
      description: Le nombre de demandes reste sous le seuil, rien à signaler.
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    scriptarguments:
      key:
        simple: MFA.Statut
      value:
        simple: Sous le seuil - RAS
    nexttasks:
      '#none#':
        - "10"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {"position": {"x": 680, "y": 470}}
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "10":
    id: "10"
    taskid: 2edb582b-ac4e-4039-a84b-c618925afe2d
    type: title
    task:
      id: 2edb582b-ac4e-4039-a84b-c618925afe2d
      version: -1
      name: Fin
      description: ""
      type: title
      iscommand: false
      brand: ""
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {"position": {"x": 450, "y": 1240}}
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1255,
        "width": 815,
        "x": 280,
        "y": 50
      }
    }
  }
inputs:
  - key: Compte
    value: {}
    required: false
    description: Compte ciblé par les demandes MFA.
    playbookInputQuery: null
  - key: NombreDemandes
    value:
      simple: "0"
    required: false
    description: Nombre de demandes MFA observées sur la fenêtre.
    playbookInputQuery: null
  - key: SeuilDemandes
    value:
      simple: "5"
    required: false
    description: Seuil de demandes à partir duquel on parle de rafale.
    playbookInputQuery: null
outputs:
  - contextPath: MFA.Statut
    description: Résultat - compte protégé, demandes reconnues, ou sous le seuil.
    type: string
  - contextPath: Compte.Statut
    description: Résultat de l'enrichissement du compte.
    type: string
fromversion: 6.5.0
tests:
  - No tests (auto formatted)
