playbooks/reponse-malware-endpoint.yml
id: reponse-malware-endpoint
version: -1
name: Réponse malware sur endpoint
description: |-
  Réagit à une alerte malware sur un poste. Il enrichit le hash du fichier suspect en réutilisant le
  playbook d'enrichissement générique, puis n'ouvre l'isolation de l'endpoint que si le verdict est
  malveillant ET qu'un analyste valide. L'isolation et la collecte des éléments (processus,
  persistances) sont des tâches à exécuter sur l'EDR, remplaçables par les commandes de l'EDR en place.
  Si le verdict n'est pas malveillant, le playbook se termine proprement sans rien isoler.
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: b6960e22-5fd6-4665-b56e-0ed2bc236b84
    type: start
    task:
      id: b6960e22-5fd6-4665-b56e-0ed2bc236b84
      version: -1
      name: ""
      description: ""
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
        - "1"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {"position": {"x": 450, "y": 50}}
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "1":
    id: "1"
    taskid: 5df0956f-5764-465f-b376-6790ec7af57e
    type: title
    task:
      id: 5df0956f-5764-465f-b376-6790ec7af57e
      version: -1
      name: Réponse malware endpoint
      description: ""
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
        - "2"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {"position": {"x": 450, "y": 190}}
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "2":
    id: "2"
    taskid: ad639759-c034-4be6-9172-285698fd1538
    type: playbook
    task:
      id: ad639759-c034-4be6-9172-285698fd1538
      version: -1
      name: Enrichir le hash du fichier
      description: Réutilise le playbook d'enrichissement générique sur le hash suspect.
      playbookName: Enrichissement d'indicateurs (générique)
      type: playbook
      iscommand: false
      brand: ""
    scriptarguments:
      FileHash:
        simple: "${inputs.HashFichier}"
    nexttasks:
      '#none#':
        - "3"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {"position": {"x": 450, "y": 330}}
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "3":
    id: "3"
    taskid: b6d4557c-ac09-492b-a997-33422ff3485a
    type: condition
    task:
      id: b6d4557c-ac09-492b-a997-33422ff3485a
      version: -1
      name: Malware confirmé ?
      description: Vrai si l'enrichissement a rendu un verdict malveillant.
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
        - "9"
      "yes":
        - "4"
    conditions:
      - label: "yes"
        condition:
          - - operator: isEqualString
              left:
                value:
                  simple: Enrichissement.Verdict
                iscontext: true
              right:
                value:
                  simple: Malveillant
              ignorecase: true
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {"position": {"x": 450, "y": 490}}
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "4":
    id: "4"
    taskid: 0cb2b8c6-0ea2-4113-ae31-546d338a6c35
    type: condition
    task:
      id: 0cb2b8c6-0ea2-4113-ae31-546d338a6c35
      version: -1
      name: Valider l'isolation
      description: |-
        Demande à un analyste de valider l'isolation avant de couper l'endpoint du réseau. La tâche se
        répond depuis le plan de travail de l'incident.
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
        - "8"
      "Isoler":
        - "5"
      "Ne pas isoler":
        - "8"
    separatecontext: false
    view: |-
      {"position": {"x": 280, "y": 660}}
    note: false
    timertriggers: []
    ignoreworker: false
    message:
      to:
      subject:
        simple: "Validation d'isolation d'endpoint"
      body:
        simple: "Malware confirmé sur ${inputs.Endpoint}. Isoler l'endpoint ? Répondre \"Isoler\" ou \"Ne pas isoler\"."
      methods: []
      format: ""
      bcc:
      cc:
      timings:
        retriescount: 1
        retriesinterval: 20
        completeafterreplies: 1
      replyOptions:
        - "Isoler"
        - "Ne pas isoler"
    skipunavailable: false
    quietmode: 0
  "5":
    id: "5"
    taskid: 7a14700f-1b82-4268-bbaf-d6fbc0443b07
    type: regular
    task:
      id: 7a14700f-1b82-4268-bbaf-d6fbc0443b07
      version: -1
      name: Isoler l'endpoint
      description: |-
        Tâche à exécuter : isoler l'endpoint via l'EDR, puis compléter la tâche. Remplaçable par la
        commande d'isolation de l'EDR en place.
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
        - "6"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {"position": {"x": 280, "y": 830}}
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "6":
    id: "6"
    taskid: 2e421a2b-9998-4e73-802d-eb6bb843589e
    type: regular
    task:
      id: 2e421a2b-9998-4e73-802d-eb6bb843589e
      version: -1
      name: Collecter les éléments
      description: |-
        Tâche à exécuter : collecter les éléments d'analyse sur l'endpoint (processus en cours,
        persistances), puis compléter la tâche.
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
        - "7"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {"position": {"x": 280, "y": 970}}
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "7":
    id: "7"
    taskid: 26f8d124-745b-45e2-8e6c-315bd94a1faa
    type: regular
    task:
      id: 26f8d124-745b-45e2-8e6c-315bd94a1faa
      version: -1
      name: Endpoint isolé
      description: Journalise l'isolation et la collecte.
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    scriptarguments:
      key:
        simple: Reponse.Statut
      value:
        simple: Endpoint isolé, collecte effectuée
    nexttasks:
      '#none#':
        - "10"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {"position": {"x": 280, "y": 1110}}
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "8":
    id: "8"
    taskid: 250ecda6-d16b-48cb-b5f5-c90e25c86955
    type: regular
    task:
      id: 250ecda6-d16b-48cb-b5f5-c90e25c86955
      version: -1
      name: Isolation refusée
      description: L'analyste n'a pas validé l'isolation.
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    scriptarguments:
      key:
        simple: Reponse.Statut
      value:
        simple: Isolation refusée par l'analyste
    nexttasks:
      '#none#':
        - "10"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {"position": {"x": 520, "y": 830}}
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "9":
    id: "9"
    taskid: 40b28d30-827d-44f5-acfc-d7d9b8f73926
    type: regular
    task:
      id: 40b28d30-827d-44f5-acfc-d7d9b8f73926
      version: -1
      name: Pas de malware confirmé
      description: Le verdict n'est pas malveillant, aucune isolation.
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    scriptarguments:
      key:
        simple: Reponse.Statut
      value:
        simple: Pas de malware confirmé - traitement normal
    nexttasks:
      '#none#':
        - "10"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {"position": {"x": 680, "y": 490}}
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "10":
    id: "10"
    taskid: 45f96829-db1c-47ef-a61e-40a0b44ef026
    type: title
    task:
      id: 45f96829-db1c-47ef-a61e-40a0b44ef026
      version: -1
      name: Fin
      description: ""
      type: title
      iscommand: false
      brand: ""
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {"position": {"x": 450, "y": 1280}}
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1295,
        "width": 855,
        "x": 280,
        "y": 50
      }
    }
  }
inputs:
  - key: HashFichier
    value: {}
    required: false
    description: Hash du fichier suspect détecté sur l'endpoint.
    playbookInputQuery: null
  - key: Endpoint
    value: {}
    required: false
    description: Nom ou identifiant de l'endpoint concerné.
    playbookInputQuery: null
outputs:
  - contextPath: Reponse.Statut
    description: Résultat - isolé, isolation refusée, ou pas de malware confirmé.
    type: string
  - contextPath: Enrichissement.Verdict
    description: Verdict rendu par l'enrichissement du hash.
    type: string
fromversion: 6.5.0
tests:
  - No tests (auto formatted)
