playbooks/voyage-impossible.yml
id: voyage-impossible
version: -1
name: Détection de connexion impossible (voyage impossible)
description: |-
  Qualifie une alerte de voyage impossible : deux connexions d'un même compte depuis des lieux
  géographiquement incompatibles. Le playbook écarte d'abord les IP connues (VPN, sites de l'entreprise)
  pour limiter les faux positifs, enrichit l'IP source et le compte, puis tranche : déplacement
  légitime, à surveiller, ou compromission probable si l'IP est malveillante. Le signal de voyage
  impossible est fourni par l'alerte source, le playbook lui ajoute le contexte et la décision.
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 9b139da2-ceec-459d-b5a8-e0f7feb60581
    type: start
    task:
      id: 9b139da2-ceec-459d-b5a8-e0f7feb60581
      version: -1
      name: ""
      description: ""
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
        - "1"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {"position": {"x": 450, "y": 50}}
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "1":
    id: "1"
    taskid: cf181606-9aed-4992-9ddc-844614466950
    type: title
    task:
      id: cf181606-9aed-4992-9ddc-844614466950
      version: -1
      name: Voyage impossible
      description: ""
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
        - "2"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {"position": {"x": 450, "y": 190}}
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "2":
    id: "2"
    taskid: e69b8f24-6754-48d9-bf9d-bb8b368f75f9
    type: regular
    task:
      id: e69b8f24-6754-48d9-bf9d-bb8b368f75f9
      version: -1
      name: L'IP est-elle connue ?
      description: Vérifie si l'IP source appartient aux plages connues (VPN, sites) via IsIPInRanges.
      scriptName: IsIPInRanges
      type: regular
      iscommand: false
      brand: ""
    scriptarguments:
      ip:
        simple: "${inputs.IPSource}"
      ipRanges:
        simple: "${inputs.PlagesVPN}"
    nexttasks:
      '#none#':
        - "3"
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {"position": {"x": 450, "y": 330}}
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "3":
    id: "3"
    taskid: 6136a297-e5ed-44fc-a112-838363c11476
    type: condition
    task:
      id: 6136a297-e5ed-44fc-a112-838363c11476
      version: -1
      name: IP connue ?
      description: Si l'IP est dans une plage connue, on considère le déplacement légitime.
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
        - "5"
      "yes":
        - "4"
    conditions:
      - label: "yes"
        condition:
          - - operator: isEqualString
              left:
                value:
                  simple: IP.InRange
                iscontext: true
              right:
                value:
                  simple: "yes"
              ignorecase: true
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {"position": {"x": 450, "y": 470}}
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "4":
    id: "4"
    taskid: 21ccbed1-696f-4d95-80e3-a7e11a68a3a5
    type: regular
    task:
      id: 21ccbed1-696f-4d95-80e3-a7e11a68a3a5
      version: -1
      name: Déplacement légitime
      description: IP connue, le voyage impossible s'explique par un VPN ou un site de l'entreprise.
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    scriptarguments:
      key:
        simple: Connexion.Verdict
      value:
        simple: Déplacement légitime (VPN ou site connu)
    nexttasks:
      '#none#':
        - "12"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {"position": {"x": 230, "y": 620}}
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "5":
    id: "5"
    taskid: bd43d5e7-b3b7-496f-9c11-143b0ef483e2
    type: playbook
    task:
      id: bd43d5e7-b3b7-496f-9c11-143b0ef483e2
      version: -1
      name: Enrichir l'IP source
      description: Réutilise le playbook d'enrichissement générique sur l'IP source.
      playbookName: Enrichissement d'indicateurs (générique)
      type: playbook
      iscommand: false
      brand: ""
    scriptarguments:
      IP:
        simple: "${inputs.IPSource}"
    nexttasks:
      '#none#':
        - "6"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {"position": {"x": 660, "y": 620}}
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "6":
    id: "6"
    taskid: 378a8b4f-52c1-41d2-9613-b6cbc5db688b
    type: playbook
    task:
      id: 378a8b4f-52c1-41d2-9613-b6cbc5db688b
      version: -1
      name: Enrichir le compte
      description: Réutilise le playbook d'enrichissement de compte sur le compte concerné.
      playbookName: Enrichissement de compte utilisateur
      type: playbook
      iscommand: false
      brand: ""
    scriptarguments:
      NomUtilisateur:
        simple: "${inputs.Compte}"
    nexttasks:
      '#none#':
        - "7"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {"position": {"x": 660, "y": 760}}
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "7":
    id: "7"
    taskid: 03d3c144-3784-485a-81d3-5fd654ab6353
    type: condition
    task:
      id: 03d3c144-3784-485a-81d3-5fd654ab6353
      version: -1
      name: Voyage impossible confirmé ?
      description: Vrai si l'alerte source indique un voyage impossible.
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
        - "11"
      "yes":
        - "8"
    conditions:
      - label: "yes"
        condition:
          - - operator: isEqualString
              left:
                value:
                  simple: inputs.VoyageImpossible
                iscontext: true
              right:
                value:
                  simple: "true"
              ignorecase: true
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {"position": {"x": 660, "y": 900}}
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "8":
    id: "8"
    taskid: 03b21e38-a6e7-408d-af6d-ac8b1842b323
    type: condition
    task:
      id: 03b21e38-a6e7-408d-af6d-ac8b1842b323
      version: -1
      name: IP source malveillante ?
      description: Une IP source malveillante fait pencher vers la compromission.
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
        - "10"
      "yes":
        - "9"
    conditions:
      - label: "yes"
        condition:
          - - operator: isEqualString
              left:
                value:
                  simple: Enrichissement.Verdict
                iscontext: true
              right:
                value:
                  simple: Malveillant
              ignorecase: true
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {"position": {"x": 520, "y": 1060}}
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "9":
    id: "9"
    taskid: 50cd4eec-6482-451a-82d8-3170cd8375b3
    type: regular
    task:
      id: 50cd4eec-6482-451a-82d8-3170cd8375b3
      version: -1
      name: Compromission probable
      description: Voyage impossible et IP source malveillante.
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    scriptarguments:
      key:
        simple: Connexion.Verdict
      value:
        simple: Compromission probable
    nexttasks:
      '#none#':
        - "12"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {"position": {"x": 380, "y": 1230}}
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "10":
    id: "10"
    taskid: 6aaf3a82-b811-4468-b054-d046f3adeb65
    type: regular
    task:
      id: 6aaf3a82-b811-4468-b054-d046f3adeb65
      version: -1
      name: À surveiller
      description: Voyage impossible sans IP malveillante confirmée.
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    scriptarguments:
      key:
        simple: Connexion.Verdict
      value:
        simple: À surveiller
    nexttasks:
      '#none#':
        - "12"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {"position": {"x": 660, "y": 1230}}
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "11":
    id: "11"
    taskid: d69d7cd6-3320-4c1c-873b-269ba36911ae
    type: regular
    task:
      id: d69d7cd6-3320-4c1c-873b-269ba36911ae
      version: -1
      name: RAS
      description: Pas de voyage impossible confirmé.
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    scriptarguments:
      key:
        simple: Connexion.Verdict
      value:
        simple: RAS - pas de voyage impossible
    nexttasks:
      '#none#':
        - "12"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {"position": {"x": 900, "y": 1060}}
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "12":
    id: "12"
    taskid: 9428bdd9-1035-46ad-bb35-a894d200f9f4
    type: title
    task:
      id: 9428bdd9-1035-46ad-bb35-a894d200f9f4
      version: -1
      name: Fin
      description: ""
      type: title
      iscommand: false
      brand: ""
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {"position": {"x": 550, "y": 1400}}
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1415,
        "width": 1095,
        "x": 230,
        "y": 50
      }
    }
  }
inputs:
  - key: Compte
    value: {}
    required: false
    description: Compte concerné par les connexions.
    playbookInputQuery: null
  - key: IPSource
    value: {}
    required: false
    description: IP source de la connexion suspecte.
    playbookInputQuery: null
  - key: PlagesVPN
    value: {}
    required: false
    description: |-
      Plages CIDR connues (VPN, sites de l'entreprise) qui expliquent un déplacement apparent. À
      renseigner avec vos IP de sortie VPN et bureaux.
    playbookInputQuery: null
  - key: VoyageImpossible
    value:
      simple: "false"
    required: false
    description: Mettre "true" si l'alerte source a détecté un voyage impossible.
    playbookInputQuery: null
outputs:
  - contextPath: Connexion.Verdict
    description: Verdict - Déplacement légitime, À surveiller, Compromission probable, ou RAS.
    type: string
  - contextPath: Enrichissement.Verdict
    description: Réputation de l'IP source.
    type: string
  - contextPath: Compte.Statut
    description: Résultat de l'enrichissement du compte.
    type: string
fromversion: 6.5.0
tests:
  - No tests (auto formatted)
